@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --transition-delay: all .5s linear;
  --primary-color: #FBD062;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Header section */
#header-logo img {
  height: 47px;
  width: 150px;
  object-fit: cover;
}

#header-items {
  gap: 1rem;
}

.header-item{
  transition: var(--transition-delay);
}

.header-item:hover{
  color: var(--primary-color);
}

#authenticate-btn {
  background-color: black;
  height: 45px;
  width: 134px;
  border-radius: 5px;
  transition: var(--transition-delay);
}

#authenticate-btn a {
  color: white;
}

#authenticate-btn:hover {
  background-color: white;
}

#authenticate-btn:hover a{
  color: black;
}
